* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color-one: #a5d5e0f3; /*gray&blue-green*/
    --color-two: #fcfc17; /*yellow*/
    --color-three: #5b0606; /*burgandy*/
    --color-four: #046408; /*Deep Green*/
    --Large-font: 'Montserrat' sans-serif;
    --Paragraph-font: 'Open Sans', sans-serif;
}
body {
    font-family: var(--Large-font);
    color: var(--color-four)
}
header, main, footer {
    width: 840;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--Paragraph-font);
    color: var(--color-three)
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
header {
    background-color: var(--color-two);
    color: var(--color-three)
}
header img {
    width: 80px;
    height: auto;
}

div img {
    width: 100%;
    height: auto;
}
article img {
    width: 150px;
    height: auto;
}
nav img {
    width: 20px;
    height: auto;
}
.hero { /*style the div with class hero*/
    position: absolute;
}
.hero img { /*div class="hero"*/
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--color-three);
    color: #fff;
}
article {
    position: absolute;
    padding: 0;
    background-color: #fff;
    }
.hero article img { /*img inside article by floating right & some margin wand specific width*/
    float: right;
    width: 125px;
    border: #fff;
    box-shadow: #5b0606;

}
.socialmedia a {/*footer default underline on hyperlinks removed for visual ease*/
    text-decoration: none;
}


