:root {
    --color-one: #a5d5e0f3;
    /*gray&blueish*/
    --color-two: #fff;
    /*white*/
    --color-three: #5b0606;
    /*burgandy*/
    --color-four: #175819;
    /*Deep Green*/
    --Large-font: 'Lucida Sans', ' Lucida Sans Regular', ' Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --Paragraph-font: 'Gill Sans', ' Gill Sans MT', Calibri, ' Trebuchet MS', sans-serif;

}

header {

    background-color: var(--color-one);
    color: var(--color-three)
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header img {
    width: 80px;
    height: auto;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--Large-font);
    color: var(--color-four)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    padding: 0;
}

/* 7. Style the headings (all of just those you are using) by declairingthe font-family and text color */
h1,
h2 {
    font-family: var(--Paragraph-font);
    color: var(--color-three);
    text-align: center;
    font-size: 2.5rem;

}

nav,
p,
section,
article {
    /* margin: 16px; */
    padding: 8px;
}

section img {
    width: 80px;
    height: auto;
}

.paragraph img {
    width: auto;
    height: 80px;
    justify-self: center;

}

.paragraph {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
}

/* step 5 style the hero div with overlays */
/* 1. Style div */
.hero {
    /*style the div with class hero*/
    position: relative;
}

.hero img {
    /*div class="hero"*/
    display: block;
    width: 100%;
    height: auto;
}

/* h1 seems to be the banner "Whitewater Adventures */
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--color-three);
    color: var(--color-two);
    font-size: 3rem;
}

.hero article {
    position: absolute;
    padding: .5rem;
    background-color: var(--color-two);
    bottom: 3em;
    left: 3em;
    right: 3em;
}

.hero article img {
    /*img inside article by floating right & some margin wand specific width*/
    float: right;
    width: 125px;
    /* my additions: Need to float img to right and provide margin and specific width. the css for img must be specific for img only.   */
    border: var(--color-two);
    box-shadow: 6px 6px 5px 0px rgba(22, 16, 16, 0.467)
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.5rem;
    text-align: center;
    font-weight: 700;
}

.adventure h2 {
    grid-column: 1 / span 5;
    text-align: center;
}

.adventure img {
    width: 80px;
    height: 53.35px;
}

img {
    width: 100%;
    height: auto;
}

nav img {

    width: 20px;
    height: auto;
    position: relative;
    float: inline-end;
}

/* 9. Remove the underlines from the social media image links in the footer.  This default underline on hyperlinks is considered to be visually distracting and unnecessary when applied to images as links. Only applies to anchor tags (a) */
.socialmedia a {

    text-decoration: none;
}

/* contact.html Modifications */

address {
    text-align: center;
    padding: .5rem;
    font: var(--Paragraph-font);
    font-size: 1.3rem;
}

iframe {
    border: 0;
    width: 380px;
    padding-top: 5px;
    height: 470px;
    margin: 0 auto;

}

form {
    display: grid;
    width: 430px;
    border: 5px solid var(--color-two);
    justify-items: center;
    font: var(--Paragraph-font);
    background-color: var(--color-one);
    gap: 5px;
}

fieldset {
    margin: 3px 0;
    color: black;
}

.map-form {
    display: grid;
    grid-template-columns: 100% 1fr 1fr;
    justify-content: center;
    margin: 0 215px;
    padding-top: .3rem;
    gap: 5px;
}

.map-form h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.8rem;
}

.contact-adventure h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin: 0 125px 1rem 0;
    font-size: 1.8rem;
}

.name {
    display: grid;
    grid-template-columns: 60px 1fr;
    margin: 1rem 2.7rem 0;
    gap: 10px;
    align-items: center;
    color: var(--color-three);
}

.radio-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 10px;
    gap: 10px;
    margin: 0 75px;
    color: var(--color-three);
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;

}

.contact-adventure {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    font-weight: 700;
}

.contact-adventure img {
    width: 190px;
    height: 180px;
    object-fit: cover;
}

.message {
    width: 230px;
    text-align: center;
    padding-top: 10px;
    margin: 0 50px;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;

}

label[for="newsletter"] {
    color: var(--color-three);
    font-weight: 700;
}

button {
    width: 345px;
    font: var(--Large-font);
    color: var(--color-two);
    background-color: var(--color-three);
    border-radius: .5rem;
    box-shadow: 2px 2px 5px #3e3e3e;

    margin-bottom: 5px;
}

.contact-figure {
    text-align: center;
    margin-right: 8rem;

}

figcaption {
    margin-top: .5rem;
    font-size: 1rem;
}

/* contact.html Modifications */

footer {
    background-color: #3e3e3e;
    color: #fefefe;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

}