* {
    box-sizing: border-box;
}

header,
main,
footer {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    width: 600px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}